<div class="law-subbody">
    <div class=" law-subbody-nav">
        <ul class="nav nav-pills nav-stacked nav-style">
            <li><img class="law-nav-pic img-responsive" src="../images/nav-pic/law-document-nav.jpg"/></li>
            <li class="law-nav-li" id="law-nav1" role="presentation"><a class="law-nav-font" href="/law/law-regulations">法律法规</a></li>
            <li class="law-nav-li" id="law-nav2" role="presentation"><a class="law-nav-font" href="/law/law-document ">规范性文件</a></li>
            <li class="law-nav-li" id="law-nav2" role="presentation"><a class="law-nav-font" href="/law/law-department ">部门规章</a></li>
        </ul>
    </div>
    <div class="law-subbody-content">
        <div class="panel panel-border panel-primary">
            <div class="law-rightbody-heading ">
                <ol class="breadcrumb breadcrumb-style">
                    <li ><a href="/law">法律法规</a></li>
                    <li ><a href="/law/law-monitor">规范性文件</a></li>
                </ol>
            </div>
            <div class="panel-body">
                <div class="law-subbodybr">
                    <h2>
                        <ul>
                            <li class="nowb">规范性文件</li>
                        </ul>
                    </h2>
                    <ol>
                        <% documentlaw.forEach(function (docpublish) { %>
                        <li><a href="/law/<%= docpublish._id %>/law-document-content" target="_blank"
                                    title="<%=docpublish.doctitle %>"><%=docpublish.doctitle %></a></li>
                        <% }) %>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>