<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">查看会员</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>会员名称</th>
                        <th>密码</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% members.forEach(function (mem) { %>
                    <tbody>
                    <tr>
                        <td><%= mem.membersname%></td>
                        <td><%= mem.memberspassword %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= mem._id %>/membersremove"><span class="glyphicon glyphicon-trash" style="color:red" /> </a>
                                <a href="/admin/admin-members/<%= mem._id %>/admin-members-memup" ><span class="glyphicon glyphicon-pencil"/> </a>
                                <a href="/admin/admin-members/admin-members-members" ><span class="glyphicon glyphicon-plus"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
