<!DOCTYPE html>
<html>
<head>
    <title>江苏保险中介行业协会考试中心</title>

    <%- include('../header/header') %>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="keywords" content="江苏保险中介行业协会考试中心">
    <meta name="description" content="江苏保险中介行业协会考试中心首页">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="rendener" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/stylesheets/education/education.css">
    <link rel="stylesheet" href="/stylesheets/education/plugin/image-hover/img-hover.css">
    <link rel="stylesheet" href="/stylesheets/education/plugin.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/stylesheets/education/header.css">
    <link rel="stylesheet" href="/stylesheets/education/footer.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/stylesheets/education/plugin/animate/animate.css">
    <link rel="stylesheet" href="/stylesheets/education/plugin/owl-carousel/owl-carousel.css">
    <link rel="stylesheet" href="/stylesheets/education/plugin/Scrollbar/mCustomScrollbar.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/stylesheets/education/red.css" id="style_color">
    <link rel="stylesheet" href="/stylesheets/education/education-exam-content.css">

    <style>

        ul {
            padding: 0;
            margin: 0;
        }

    </style>
    <!-- browser Type prompt dialog box -->

</head>
<body>
<div style="width:100%; margin-left:auto;margin-right:auto;overflow:hidden; border:none;">
    <div class="wrapper" style=" ">
    <div class="header-v5" style=" ">
        <div class="topbar-v3" style=" ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="right-topbar list-inline">
                            <li>
                                <a href="http://www.circ.gov.cn/web/site0/" target="_blank" class="white">
                                    中国保险监督管理委员会
                                </a>
                            </li>
                            <li>
                                <a href="http://www.iachina.cn/" target="_blank" class="white">
                                    中国保险行业协会
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <!-- Topbar Navigation -->
                        <ul class="left-topbar pull-right">
                            <li>
                                <a href="/">
                                    网站首页
                                </a>
                            </li>
                            <li>
                                <a href="/notice">
                                    协会通告
                                </a>
                            </li>
                            <li>
                                <a href="/dynamics">
                                    业界动态
                                </a>
                            </li>

                            <li>
                                <a href="/law">
                                    法律法规
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style=" ">
            <div class="navbar navbar-default mega-menu" role="navigation" style=" ">
                <div class="navbar-header" style=" ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-responsive-collapse">
  <span class="sr-only">
    Toggle navigation
  </span>
                        <span class="icon-bar">
  </span>
                        <span class="icon-bar">
  </span>
                        <span class="icon-bar">
  </span>
                    </button>
                    <a class="navbar-brand no-padding-top no-padding-bottom" href="/">
                        <img id="logo-header" src="/images/logo/education_logo.png" alt="Logo"
                             style="height: 68px; display: inline-block;">
                    </a></div>
                <div class="collapse navbar-collapse navbar-responsive-collapse" style=" ">
                    <ul class="nav navbar-nav pull-right">
                        <!-- 首页 -->
                        <li >
                            <a href="/education" class="dropdown-toggle" data-hover="dropdown"
                               data-toggle="dropdown" >
                                首页
                            </a>
                        </li>
                        <!-- End 首页 -->
                        <!-- 考试 -->
                        <li class="active dropdown mega-menu-fullwidth">
                            <a href="#" class="dropdown-toggle"
                               data-hover="dropdown" data-toggle="dropdown"
                               >
                                考试
                                <i class="fa fa-angle-down">
                                </i>
                            </a>
                            <div class="dropdown-menu" style="border-bottom: none;">
                                <div class="well"
                                     style="background-color: #fcfcfc; border: 1px solid #f0f0f0; border-width: 0 1px 1px 1px; box-shadow: none; margin-bottom: 0; padding: 31px 15px;"
                                     id="server">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="service no-margin-bottom">
                                                        <div class="pull-left">
                                                            <i class="icon-users service-icon">
                                                            </i>
                                                            <div class="color-green">
                                                                在线视频
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <p style="font-size: 14px; line-height: 2; text-indent: 0;">
                                                                为了提高江苏保险从业人员能力，江苏省保险中介行业协会免费向江苏保险从业人员提供在线视频学习。
                                                            </p>
                                                            <div class="pull-right" style="margin-top:10px;">
                                                                <a href="#"
                                                                   target="_blank" class="btn-u btn-u-xs">
                                                                    了解更多&nbsp;+
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="service no-margin-bottom">
                                                        <div class="pull-left">
                                                            <i class="icon-briefcase service-icon">
                                                            </i>
                                                            <div class="color-green">
                                                                PPT
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <p style="font-size: 14px; line-height: 2; text-indent:0em;">
                                                                以企业生产经营周期为您提供企业开办、资质认定、生产经营、税务发票、备案注销等服务分类导航。
                                                            </p>
                                                            <div class="pull-right" style="margin-top:10px;">
                                                                <a href="#"
                                                                   class="btn-u btn-u-xs">
                                                                    了解更多&nbsp;+
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="service no-margin-bottom">

                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="margin: 23px 0 22px 0;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End 考试 -->
                        <!-- 培训 -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="http://www.xatj.gov.cn/ptl/def/def/index_923_7706.html" class="dropdown-toggle"
                               data-hover="dropdown" data-toggle="dropdown"
                               onclick="window.open('http://www.xatj.gov.cn/ptl/def/def/index_923_7706.html');">
                                培训
                                <i class="fa fa-angle-down">
                                </i>
                            </a>
                            <div class="dropdown-menu" style="border-bottom: none;">
                                <div class="well"
                                     style="background-color: #fcfcfc; border: 1px solid #f0f0f0; border-width: 0 1px 1px 1px; box-shadow: none; margin-bottom: 0; padding: 0px  15px;">
                                    <div class="row" style="margin-bottom:33px;">
                                        <div style="margin-top:30px;">
                                            <div class="tab-v1">
                                                <div class="col-md-3">
                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li class="active" id="h1" onmouseover="setTab2('h',1,8)">
                                                            <a href="javascript:void(0);" data-toggle="tab"
                                                               align="center">
                                                                成绩查询
                                                            </a>
                                                        </li>
                                                        <li id="h2" onmouseover="setTab2('h',2,8)">
                                                            <a href="javascript:void(0);" data-toggle="tab"
                                                               align="center">
                                                                考生问答
                                                            </a>
                                                        </li>
                                                        <li id="h3" onmouseover="setTab2('h',3,8)">
                                                            <a href="javascript:void(0);" data-toggle="tab"
                                                               align="center">
                                                                考试纪律
                                                            </a>
                                                        </li>
                                                        <li id="h4" onmouseover="setTab2('h',4,8)">
                                                            <a href="javascript:void(0);" data-toggle="tab"
                                                               align="center">
                                                                复习资料
                                                            </a>
                                                        </li>
                                                        <li id="h5" onmouseover="setTab2('h',5,8)">
                                                            <a href="javascript:void(0);" data-toggle="tab"
                                                               align="center">
                                                                考试计划
                                                            </a>
                                                        </li>
                                                        <li id="h6" onmouseover="setTab2('h',6,8)">
                                                            <a href="javascript:void(0);" data-toggle="tab"
                                                               align="center">
                                                                成绩查询
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="tab-content">
                                                        <!--成绩查询 begin-->
                                                        <div class="tab-pane active" id="con_h_1">
                                                            <div class="col-md-12">
                                                                <div id="main1" class="education-trainning-tab">
                                                                    <h2>
                                                                        <center>成绩查询</center>
                                                                    </h2>
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered table-striped bs-events-table">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>考试日期</th>
                                                                                <th>考试科目</th>
                                                                            </tr>
                                                                            </thead>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--全成绩查询 end-->
                                                        <!--人均GDP begin-->
                                                        <div class="tab-pane active" id="con_h_2"
                                                             style="display: none;">
                                                            <div class="col-md-12">

                                                            </div>
                                                        </div>
                                                        <!--人均GDP end-->
                                                        <!--规模以上工业增加值 begin-->
                                                        <div class="tab-pane active" id="con_h_3"
                                                             style="display: none;">
                                                            <div class="col-md-12">

                                                            </div>
                                                        </div>
                                                        <!--规模以上工业增加值 end-->
                                                        <!--全社会固定资产投资总额 begin-->
                                                        <div class="tab-pane active" id="con_h_4"
                                                             style="display: none;">
                                                            <div class="col-md-12">

                                                            </div>
                                                        </div>
                                                        <!--全社会固定资产投资总额 end-->
                                                        <!--社会消费品零售总额 begin-->
                                                        <div class="tab-pane active" id="con_h_5"
                                                             style="display: none;">
                                                            <div class="col-md-12">

                                                            </div>
                                                        </div>
                                                        <!--社会消费品零售总额 end-->
                                                        <!--地方财政一般公共预算收支 begin-->
                                                        <div class="tab-pane active" id="con_h_6"
                                                             style="display: none;">
                                                            <div class="col-md-12">

                                                            </div>
                                                        </div>
                                                        <!--地方财政一般公共预算收支 end-->
                                                        <!--城乡居民收入 begin-->
                                                        <div class="tab-pane active" id="con_h_7"
                                                             style="display: none;">
                                                            <div class="col-md-12">

                                                            </div>
                                                        </div>
                                                        <!--城乡居民收入 end-->
                                                        <!--价格指数 begin-->
                                                        <div class="tab-pane active" id="con_h_8"
                                                             style="display: none;">
                                                            <div class="col-md-12">
                                                            </div>
                                                        </div>
                                                        <!--价格指数 end-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End 培训 -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="education-exam-content">
            <h2>
                <center><strong><%= examone.etitle%></strong></center>
            </h2>
            <hr class="education-exam-line"/>
            <div><%- examone.ebio%></div>
        </div>
        <div id="footer-default" class="footer-default" style=" ">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p class="no-margin" style="font-size:12px!important;">
                                江苏省保险中介行业协会copyright@2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/intro/intro-contact"
                                   target="_blank">
                                    联系我们
                                </a>
                                |
                                <a href="/intro"
                                   target="_blank">
                                    协会简介
                                </a>
                                |
                                <a href="http://www.xa.gov.cn/ptl/def/def/index_1121_6930_ci_num_2.html"
                                   target="_blank">
                                    友情链接
                                </a>
                                |
                                <a href="http://www.xa.gov.cn/ptl/def/def/index_1121_6930_ci_num_3.html"
                                   target="_blank">
                                    协会会员
                                </a>
                                &nbsp;&nbsp;&nbsp;
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 pull-right">


                            <a href="index.html">
          <span id="_ideConac">
            </span></a>
                            <a href="//bszs.conac.cn/sitename?method=show&amp;id=0A5537536EC43D83E053022819ACDDA0"
                               target="_blank">
                                <img id="imgConac" vspace="0" hspace="0" border="0" src="//dcs.conac.cn/image/red.png"
                                     data-bd-imgshare-binded="1" style="width: 40px;">
                            </a>
                            <a style="cursor:default;text-decoration:none;">
                                苏ICP备17016922号-1
                            </a>

                            <span id="cnzz_stat_icon_4591279">
          </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/javascripts/webjs/education/owl-carousel/owl-carousel.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/javascripts/webjs/education/app.js"></script>
    <script type="text/javascript" src="/javascripts/webjs/education/owl-carousel/owl-recent-works.js"></script>
    <script type="text/javascript" src="/javascripts/webjs/education/style-switcher.js"></script>
    <script type="text/javascript" src="/javascripts/webjs/education/education.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            StyleSwitcher.initStyleSwitcher();
            OwlRecentWorks.initOwlRecentWorksV2();
        });
    </script>


</div>
</body>

</html>