body.home-body {
    min-width: 960px;
}
.navbar-header {
    width: auto;
    height: 80px;
    position: relative;
    z-index: 20;
}

a.navbar-brand.position {
    padding: 0;
    padding-left: 50px;
}

/*------------main-nav----------*/

nav.navbar.navbar-background {
    background-color: #337ab7;
    font-family: "Microsoft YaHei" ! important;
    font-size: 18px;
    width: auto;
    height: 44px;
    position: relative;
    z-index: 20;
    overflow: visible;
    border-bottom: 5px solid #0163b8;
    border-top: 1px solid #0163b8;
}

.navbar-header.home-nav {
    height: 50px;
}

nav> ul > li:hover.dropdown-menu {
    display: block;
}

a.dropdown-toggle.style{
    height: 50px;
    display: block;
    color: #fff;
}

/*a.active-style {
    height: 50px;
    display: block;
    color: #fff;
}*/

ul.nav.position {
    clear: both;
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    }

.navbar .nav > li > a:hover {
    color:blue;
    background-color: lightblue;
}
/*------------subbody--------------*/

.home-subbody{
    background-color: #f8f8f8;
    height: 612px
}
.home-subbodya {
    padding-top:50px;
    width: 1000px;
    margin: 0 auto;
}

.home-subbodyl {
    width: 440px;
    float: left;
}

.home-subbodyl h2 {
    width: 440px;
    height: 42px;
    border-bottom: 1px solid #e0d7d2;
    margin-bottom: 10px;
}

.home-subbodyl h2 ul {
    float: left;
    width: 170px;
}

.home-subbodyl h2 ul li {
    float: left;
    color: #333333;
    font-size: 16px;
    font-family: "微软雅黑";
    width: 85px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}

.home-subbodyl h2 ul li.nowa {
    color: #fff;
    font-weight: bold;
    background: url(../images/quick-nav/nav-body.jpg) no-repeat;
    cursor: pointer;
}


.home-subbodyl ol {
}

.home-subbodyl ol li {
    display: block;
    line-height: 27px;
}

.home-subbodyl ol li a {
    color: #333333;
    font-size: 14px;
    font-family: "微软雅黑";
}

.home-subbodyl ol li a:hover {
    color: #337ab7;
    text-decoration: none;
}

.home-subbodyl ol li span {
    color: #c1c5d3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 14px;
}

.home-subbodyl ol li span font {
    font-size: 34px;
    font-weight: bold;
}

.home-subbodybr {
    width: 530px;
    float: right;
}

.home-subbodybr h2 {
    width: 530px;
    height: 42px;
    border-bottom: 1px solid #e0d7d2;
    margin-bottom: 10px;
}

.home-subbodybr h2 ul {
    float: left;
    width: 170px;
}

.home-subbodybr h2 ul li {
    float: left;
    color: #333333;
    font-size: 16px;
    font-family: "微软雅黑";
    width: 85px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}

.home-subbodybr h2 ul li.nowb {
    color: #fff;
    font-weight: bold;
    background: url(../images/quick-nav/nav-body.jpg) no-repeat;
    cursor: pointer;
}

.home-subbodybr h2 a {
    float: right;
    display: block;
    width: 6px;
    height: 12px;
    margin-top: 14px;
    padding-right: 5px;
}

.home-subbodybr ol {
}

.home-subbodybr ol li {
    display: block;
    line-height: 27px;
}

.home-subbodybr ol li a {
    color: #333333;
    font-size: 14px;
    font-family: "微软雅黑";
}

.home-subbodybr ol li a:hover {
    color: lightblue;
    text-decoration: none;
}

.home-subbodybr ol li span {
    color: #c1c5d3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 14px;
}

.home-subbodybr ol li span font {
    font-size: 34px;
    font-weight: bold;
}
/*--------home-windows-----------*/
.home-windows{
    background-color: #f8f8f8;
    height: 465px;
}

/*--------windows-line-----------*/

.home-windows-line >img{
    width: 1000px;
    margin: 0 auto;
}

/*--------windows-nav------------*/

.home-windows-nav {
    height:306px;
    width: 1000px;
    margin: 5px auto;
}

.home-windows-nava {
    float: left;
}

.home-windows-nava h2 {
    width: 244px;
    height: 70px;
    line-height: 70px;
    padding-left: 18px;
    color: #fff;
    font-size: 26px;
    font-family: "微软雅黑";
    position: relative;
    margin-top: -70px;
    background: url(../images/quick-nav/nav-bg.png) no-repeat;
}

.home-windows-nava h2 a {
    color: #fff;
}

.home-windows-navb {
    float: left;
    margin-left: 10px;
    width: 242px;
}

.home-windows-navb h2 {
    background: url(../images/quick-nav/nav-bg.png) repeat-x;
    height: 35px;
    width: auto;
    position: relative;
    margin-top: -35px;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}

.home-windows-navb h2 a {
    color: #fff;
}

.home-windows-navbl {
    float: left;
    width: 116px;
    margin-top: 10px;
}

.home-windows-navbr {
    float: right;
    width: 116px;
    margin-top: 10px;
}

.home-windows-navc {
    float: left;
    width: 242px;
    margin-left: 10px;
}

.home-windows-navc h2 {
    background: url(../images/quick-nav/nav-bg.png) repeat-x;
    height: 35px;
    width: auto;
    position: relative;
    margin-top: -35px;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}

.home-windows-navc h2 a {
    color: #fff;
}

.home-windows-navcl {
    float: left;
    width: 116px;
    margin-bottom: 10px;
}

.home-windows-navcr {
    float: right;
    width: 116px;
    margin-bottom: 10px;
}

.home-windows-navd {
    float: right;
    width: 242px;
}

.home-windows-navd h2 {
    background: url(../images/quick-nav/nav-bg.png) repeat-x;
    height: 35px;
    width: auto;
    position: relative;
    margin-top: -35px;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}

.home-windows-navd h2 a {
    color: #fff;
}

/*------------footer--------------*/

.public-footer {
    background: url(../images/footer/footer-background.jpg) no-repeat;
    background-size: 100% 92%;
}

.public-footer-fonter{
    font-family:"Microsoft YaHei"
}
img.footerlogo.img-responsive {
    padding-top: 30px;
    margin-left: -50px;
}

.row.public-row {
    margin: 20px;
}

img.footerqr {
    margin: 3px;
    width: 85%;
}

img.public-footer-linklogo {
    margin-top: 7px;

}
img.public-footer-linkmember{
    overflow: hidden;
    width:100px;
    height:33px;
    margin-top:3px;
}