<div class="members-subbody">
    <div class=" members-subbody-nav">
        <ul class="nav nav-pills nav-stacked nav-style">
            <li><img class="members-nav-pic img-responsive" src="/images/nav-pic/members-attachment.jpg"/></li>
            <li class="members-nav-li" id="members-nav1" role="presentation"><a class="members-nav-font"
                                                                                href="/members/members-notice">入会须知</a>
            </li>
            <li class="members-nav-li" id="members-nav2" role="presentation"><a class="members-nav-font"
                                                                                href="/members/members-attachment">入会须知附件</a>
            </li>
        </ul>
    </div>
    <div class="members-subbody-content">
        <div class="panel panel-border panel-primary">
            <div class="members-rightbody-heading ">
                <ol class="breadcrumb breadcrumb-style">
                    <li><a href="/members">会员之家</a></li>
                    <li><a href="/members/members-notice">入会须知附件</a></li>
                </ol>
            </div>
            <div class="panel-body">
                <div class="members-subbodybr">
                    <h2>
                        <strong>入会须知附件</strong>
                    </h2>
                    <ol>
                        <li><a href="../../files/members-gchapter.doc"
                                    title="附件1 江苏省保险中介行业协会章程"> 附件1 江苏省保险中介行业协会章程</a></li>

                        <li><a href="../../files/members-applicationform.doc"
                               title="附件2 关于加入江苏省保险中介行业协会的申请"> 附件2 关于加入江苏省保险中介行业协会的申请</a></li>

                        <li><a href="../../files/members-selfdiscipline.doc"
                               title="附件3 关于遵守江苏省保险中介行业协会行业自律公约的声明"> 附件3 关于遵守江苏省保险中介行业协会行业自律公约的声明</a></li>

                        <li><a href="../../files/members-becomemembers.doc"
                               title="附件4 关于报送江苏省保险中介行业协会会员代表的函（格式）"> 附件4 关于报送江苏省保险中介行业协会会员代表的函（格式）</a></li>

                        <li><a href="../../files/members-informationform.doc"
                               title="附件5 会员单位信息表"> 附件5 会员单位信息表</a></li>

                        <li><a href="../../files/members-charge.doc"
                               title="附件6 江苏省保险中介行业协会会费标准和管理办法"> 附件6 江苏省保险中介行业协会会费标准和管理办法</a></li>
                    </ol>
                    <img src ="../../files/members.png" class="img-responsive size">
                </div>
            </div>
        </div>
    </div>
</div>