<div class="members-home-background">
    <div class="container">
        <div class="row members-row" align="center">
            <div id = "membershome" class=" col-md-7 col-sm-7 col-xs-7 size">
                <img class="img-responsive" src="../../images/members-subbody/members-home-img.png"/>
            </div>
            <div id = "membershome" class=" col-md-4 col-sm-4 col-xs-4  " align="center">
                <div class=" members-home-nav">
                    <ul class="nav nav-pills nav-stacked nav-style">
                        <li><img class="members-nav-pic img-responsive" src="../images/nav-pic/members-nav.jpg"/></li>
                        <li class="members-nav-li" id="members-nav1" role="presentation"><a class="members-nav-font" href="/members/members-notice">入会须知</a></li>
                        <li class="members-nav-li" id="members-nav2" role="presentation"><a class="members-nav-font" href="/members/members-entry ">会员登入</a></li>
                        <li class="members-nav-li" id="members-nav3" role="presentation"><a class="members-nav-font" href="/">返回首页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>