body.notice-body {
    min-width: 960px;
}
.navbar-header {
    width: auto;
    height: 80px;
    position: relative;
    z-index: 20;
}

a.navbar-brand.position {
    padding: 0;
    padding-left: 50px;
}
/*------------notice-header-------*/
.notice-header{
    margin-bottom:45px;
}
/*------------notice-nav----------*/

nav.navbar.navbar-background {
    background-color: #337ab7;
    font-family: "Microsoft YaHei" ! important;
    font-size: 18px;
    width: auto;
    height: 44px;
    position: relative;
    z-index: 20;
    overflow: visible;
    border-bottom: 5px solid #0163b8;
    border-top: 1px solid #0163b8;
}


.navbar-header.notice-nav {
    height: 50px;
}

a.dropdown-toggle.style{
    height: 50px;
    display: block;
    color: #fff;
}

a.active-style {
    height: 50px;
    display: block;
    color: #fff;
}

ul.nav.position {
    clear: both;
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.navbar .nav > li > a:hover {
    color:blue;
    background-color: lightblue;
}

/*-----------notice-subbody-------*/

.notice-subbody-icon{
    margin-top: 100px;
    margin-left:48px;
    opacity: 0.3;
}

.notice-subbody {
    height: 640px;
}

.notice-subbody-nav{
    float:left;
    width:30%;
    padding-left:180px;
    position: inherit;
}

ul.nav.nav-pills.nav-stacked.nav-style {
    font-size: 18px;
    text-align: center;
}

.nav > li > a.notice-nav-font{
    color:black;
    font-family: "Microsoft YaHei" ;
}

.nav > li.notice-nav-li{
    border: 1px solid #cdc9c9;
    -webkit-box-shadow:0 0 10px 1px #ccc;
    -moz-box-shadow:0 0 10px 1px #ccc;
    box-shadow:0 0 10px 1px #ccc;
}

.nav > li > img.notice-nav-pic{
    border: 1px solid #cdc9c9;
    -webkit-box-shadow:0 0 10px 1px #ccc;
    -moz-box-shadow:0 0 10px 1px #ccc;
    box-shadow:0 0 10px 1px #ccc;
}

.notice-subbody-content{
    float: left;
    width:70%;
    height:620px;
    padding-left: 5px;
    padding-right:180px;
}

.panel.panel-border.panel-primary {
    border: 1px solid #cdc9c9;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
}

img.notice-panel-pic{
    padding: 60px;
}
p.notice-panel-p{
    line-height: 3;
    padding: 0 40px;
}

.breadcrumb.breadcrumb-style {
    font-family: microsoft yahei;
    background: #428bca;
    padding-left: 60px;
}

/*------------footer--------------*/

.notice-footer {
    margin-top: 50px;
    background-color:#f2fafc;
}

.notice-footer-fonter{
    font-family:"Microsoft YaHei"
}

img.footerlogo {
    margin-top: 10px;
    width: 222px;
}

.row.notice-row {
    margin: 20px;
}

img.footerqr {
    margin: 6px;
    width: 45%;
    float: left;
}

img.notice-footer-linklogo {
    margin-top: 7px;
}
/*------notice-right-body----------*/

.notice-subbodybr {
    width: 530px;
    margin:0 auto;
}

.notice-subbodybr h2 {
    width: 530px;
    height: 42px;
    border-bottom: 1px solid #e0d7d2;
    margin-bottom: 10px;
}

.notice-subbodybr h2 ul {
    float: left;
    width: 170px;
}

.notice-subbodybr h2 ul li {
    float: left;
    color: #333333;
    font-size: 16px;
    font-family: "微软雅黑";
    width: 85px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}

.notice-subbodybr h2 ul li.nowb {
    color: #fff;
    font-weight: bold;
    background: url(../../images/quick-nav/nav-body.jpg) no-repeat;
    cursor: pointer;
}

.notice-subbodybr h2 a {
    float: right;
    display: block;
    width: 6px;
    height: 12px;
    margin-top: 14px;
    padding-right: 5px;
}

.notice-subbodybr ol {
}

.notice-subbodybr ol li {
    border-bottom: 1px dashed;
    width: 447px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 27px;
}

.notice-subbodybr ol li a {
    color: #333333;
    font-size: 14px;
    font-family: "微软雅黑";
}

.notice-subbodybr ol li a:hover {
    color: lightblue;
    text-decoration: none;
}

.notice-subbodybr ol li span {
    color: #c1c5d3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 14px;
}

.notice-subbodybr ol li span font {
    font-size: 28px;
    font-weight: bold;
}
/*------------footer--------------*/

.public-footer {
    background: url(../../images/footer/footer-background.jpg) no-repeat;
    background-size: 100% 92%;
}

.public-footer-fonter{
    font-family:"Microsoft YaHei"
}
img.footerlogo.img-responsive {
    padding-top: 30px;
    margin-left: -50px;
}

.row.public-row {
    margin: 20px;
}

img.footerqr {
    margin: 3px;
    width: 85%;
}

img.public-footer-linklogo {
    margin-top: 7px;

}
img.public-footer-linkmember{
    overflow: hidden;
    width:100px;
    height:33px;
    margin-top:3px;
}