<!DOCTYPE html>
<html lang="en">
<head>
    <title>自律规范</title>
    <%- include('../../admin/header/header') %>
    <link rel="stylesheet" href="/stylesheets/admin/admin-selfdiscipline.css"/>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/javascripts/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/javascripts/ueditor/ueditor.all.js"></script>

</head>
<% if (user.membersname=="admin3") { %>
<body class="body">
<div class="admin-header"><%- include('../../admin/admin-head-sidebar/admin-header') %></div>
<div class="admin-wrapper">
    <div class="admin-sider"><%- include('../../admin/admin-head-sidebar/admin-siderbar') %></div>
    <div class="admin-body"><%- include('../../admin/admin-right-side/admin-selfdiscipline/admin-selfdiscipline-chapcontent') %></div>
</div>
<script>
    $("#nav7").toggleClass("active");
</script>
</body>
<% } else { %>
<% } %>
</html>