<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">欢迎来到管理控制台--紧急通知</h3>
        </div>
        <div class="panel-body">
            <div class="members-subbodybr">
                <div class=" col-md-7 col-sm-7 col-xs-7 ">
                    <h2>
                        <strong>会员会费</strong>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped bs-events-table">
                            <thead>
                            <tr>
                                <th>会员名称</th>
                                <th>会员会费</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><%= onedues.membersname %></td>
                                <td><%= onedues.ddues %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 ">
                    <img class="img-responsive" src="/images/members-subbody/members-dues-img.png"/>
                </div>
            </div>

        </div>

    </div>
</div>
