<nav class="navbar navbar-background navbar-primary " >
	<div class="container">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav position nav-tabs navbar-justified ">
			<li>
				<a class="active-style" href="/">首页 <span class="sr-only">(current)</span></a>
			</li>

			<li class="dropdown">
				<a href="/intro/" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">协会概况</a>
				<ul class="dropdown-menu">
					<li><a href="/intro">协会简介</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/intro/intro-gchapter">协会章程</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/intro/intro-organization">组织架构</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/intro/intro-members">专业委员会</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/intro/intro-contact">联系我们</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a href="/notice/" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">通知公告</a>
				<ul class="dropdown-menu">
					<li><a href="/notice/notice-association">我会通告</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/notice/notice-monitor">其他通告</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="/dynamics/" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">行业动态</a>
				<ul class="dropdown-menu">
					<li><a href="/dynamics/dynamics-monitor">监管动态</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/dynamics/dynamics-association">协会动态</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/dynamics/dynamics-members">会员动态</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="/law" class="dropdown-toggle style" role="button" aria-haspopup="true"
				   aria-expanded="false">法律法规</a>
				<ul class="dropdown-menu">
					<li><a href="/law/law-regulations">法律法规</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/law/law-document">规范性文件</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/law/law-department">部门规章</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="/self-discipline" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">自律规范</a>
				<ul class="dropdown-menu">
					<li><a href="/self-discipline/selfdiscipline-proposal">倡议书</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/self-discipline/selfdiscipline-risk">风险提示函</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/self-discipline/selfdiscipline-chapter">专委会规章</a></li>
				</ul>
			</li>


			<li class="dropdown">
				<a href="/education" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">考试培训</a>
			</li>
			<li class="dropdown">
				<a href="/focus" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">热点关注</a>
			</li>
			<li class="dropdown">
				<a href="/members" class="dropdown-toggle style"  role="button" aria-haspopup="true"
				   aria-expanded="false">会员之家</a>
				<ul class="dropdown-menu">
					<li><a href="/members/members-notice">入会须知</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/members/members-entry">会员登入</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.container-fluid -->
</nav>