<div class="public-footer">
    <div class="container text-center">
        <div class="row public-row" align="center">

            <div class=" col-md-3 col-sm-3 col-xs-3" align="center">

                <img class="footerlogo img-responsive" src="/images/logo/foot_logo.png" align="center"/>
            </div>
            <div class=" col-md-9 col-sm-9 col-xs-9" align="center">
                <div class=" col-md-3 col-sm-3 col-xs-3 position" align="center">
                    <img src="/images/footer/friend-connect.png  " align="center">
                    <span class="public-footer-fonter"><strong>友情链接</strong></span>
                    <br>
                    <span class="public-footer-link" align="center">
                       <a class="public-footer-link" target="_blank" href="http://www.circ.gov.cn/web/site0/"><img
                                   class="public-footer-linklogo"
                                   src="/images/link/link_monitor.png "
                                   align="center"/></a>
                    <br>
                    <a class=" public-footer-link" target="_blank" href="http://www.circ.gov.cn/web/site24/"><img
                                class="public-footer-linklogo"
                                src="/images/link/link_bureau.png "
                                align="center"/></a>
                    <br>
                    <a class=" public-footer-link" target="_blank" href="http://www.iachina.cn/"><img
                                class="public-footer-linklogo"
                                src="/images/link/link_association.png "
                                align="center"/></a>
                     <br>
                    <a class=" public-footer-link" target="_blank" href="http://www.isc-org.cn/"><img
                                class="public-footer-linklogo"
                                src="/images/link/link_society.png "
                                align="center"/></a>
                    <br>
                    <a class=" public-footer-link" target="_blank" href="http://www.sinoins.com/"><img
                                class="public-footer-linklogo"
                                src="/images/link/link_newspaper.png "
                                align="center"/></a>

               </span>
                </div>

                <div class=" col-md-3 col-sm-3 col-xs-3 " align="center">
                    <img src="/images/footer/member.png  " align="center"/>
                    <span class="public-footer-fonter"><strong>协会会员</strong></span>
                    <br>
                    <div class="scrollpanel">
                        <ul>
                            <li class="public-footer-li">
                                <a class=" public-footer-link" target="_blank" href="http://www.sinoins.com/"><img
                                            class="public-footer-linkmember"
                                            src="/images/members/china-life.png "
                                            align="center"/></a></li>
                            <li class="public-footer-li">
                                <a class=" public-footer-link" target="_blank" href="http://www.sinoins.com/"><img
                                            class="public-footer-linkmember"
                                            src="/images/members/china-safe.png "
                                            align="center"/></a></li>
                            <li class="public-footer-li">
                                <a class=" public-footer-link" target="_blank" href="http://www.sinoins.com/"><img
                                            class="public-footer-linkmember"
                                            src="/images/members/china-property.png "
                                            align="center"/></a></li>
                            <li class="public-footer-li">
                                <a class=" public-footer-link" target="_blank" href="http://www.sinoins.com/"><img
                                            class="public-footer-linkmember"
                                            src="/images/members/pacific.png "
                                            align="center"/></a></li>
                            <li class="public-footer-li">
                                <a class=" public-footer-link" target="_blank" href="http://www.sinoins.com/"><img
                                            class="public-footer-linkmember"
                                            src="/images/members/xinhua.png "
                                            align="center"/></a></li>
                        </ul>
                    </div>
                </div>

                <div class=" col-md-3 col-sm-3 col-xs-3 " align="center">
                    <img src="/images/footer/qccode.png  " align="center"/>
                    <span class="public-footer-fonter"><strong>协会订阅号</strong></span><br>
                    <img class="footerqr" src="/images/QCcode/wxewm.jpg" align="center"/>
                </div>

                <div class=" col-md-3 col-sm-3 col-xs-3 " align="center">
                    <img src="/images/footer/qccode.png  " align="center"/>
                    <span class="public-footer-fonter"><strong>协会服务号 </strong></span><br>
                    <img class="footerqr" src="/images/QCcode/wxewm.jpg" align="center"/>
                </div>

            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="navbar-inner navbar-content-center">
            <p class=" text-muted text-center credit" style="padding: 10px;">
                Copyright@2107 江苏省保险中介行业协会
            </p>
        </div>
    </nav>
</div>
