<div class="intro-subbody">
    <div class=" intro-subbody-nav">
        <ul class="nav nav-pills nav-stacked nav-style">
            <li><img class="intro-nav-pic img-responsive" src="../images/nav-pic/intro-gcchapter-nav.jpg"/></li>
            <li class="intro-nav-li" id="intro-nav1"  role="presentation"><a class="intro-nav-font" href="/intro">协会简介</a></li>
            <li class="intro-nav-li" id="intro-nav2" role="presentation"><a class="intro-nav-font" href="/intro/intro-gchapter">协会章程</a></li>
            <li class="intro-nav-li" id="intro-nav4" role="presentation"><a class="intro-nav-font" href="/intro/intro-organization">组织架构</a></li>
            <li class="intro-nav-li" id="intro-nav3" role="presentation"><a class="intro-nav-font" href="/intro/intro-members">专业委员会</a></li>
            <li class="intro-nav-li" id="intro-nav5" role="presentation"><a class="intro-nav-font" href="/intro/intro-contact">联系我们  </a></li>
        </ul>
    </div>
    <div class="intro-subbody-content intro-subbody-high">
        <div class="panel panel-border panel-primary">
            <!-- &lt;!&ndash;the different area with intro.ejs--- begin->-->
            <div class="intro-rightbody-heading ">
                <ol class="breadcrumb breadcrumb-style">
                    <li><a href="/intro">关于协会</a></li>
                    <li><a href="/intro/intro-gchapter">协会总章</a></li>
                </ol>
            </div>
            <div class="panel-body panel-body-high">
                <h1><center><strong>江苏省保险中介行业协会章程</strong></center></h1>


                <center><strong>第一章 总  则</strong></center>
                <br>
                <p>第一条 江苏省保险中介行业协会（以下简称协会），英文全称为Jiangsu Insurance Intermediary Association（英文缩写JSIIA）是在江苏省民政厅登记注册的社团法人，接受中国保险监督管理委员会江苏监管局的业务指导。</p>
                <p>第二条 协会是依照《社会团体登记管理条例》和有关金融保险法规的规定，以在江苏省、市依法登记注册的商业性保险专业中介机构、保险兼业代理机构（包括有相互代理关系的保险公司）、从事与保险相关业务的金融服务机构及在江苏省保险业内具有一定影响力的个人，自愿结成的江苏省保险中介行业的自律组织，属非营利性社会组织。</p>
                <p>第三条 协会的宗旨是:依照国家宪法和法律、法规及监管政策加强行业自律，维护公平竞争的市场秩序，维护保险中介行业利益；加强行业宣传，树立行业正面形象，担当保险中介机构与政府沟通的桥梁和纽带，推进保险中介同业间以及保险中介行业与保险公司之间的交流、协作，促进江苏省保险中介行业持续、快速、协调、健康发展。</p>
                <p>第四条 协会的业务主管单位为中国保险监督管理委员会江苏监管局，登记注册机关为江苏省民政厅。协会接受上述机关的业务指导和监督管理。</p>
                <p>第五条 协会秘书处办公地点设在江苏省南京市。</p>


                <center><strong>第二章 业务范围</strong></center>
                <br>
                <p>第六条 协会以服务为中心，以自律、维权、协调、交流、宣传为基本职能。
                    结合江苏省保险中介行业的具体情况，协会开展以下工作：</p>
                <p>（一）维护公平竞争的市场环境。通过签订自律公约、制定行业标准和行业指导性条款来约束不正当竞争行为；弘扬诚实守信的职业道德，建立健全保险中介行业诚信体系，加强保险中介机构和从业人员的自律管理。</p>
                <p>（二）参与政府或江苏保监局组织的决策论证，提出有利于我省保险中介行业发展的建议；开展调查研究，反映行业呼声；加强与保险监管机关和政府部门沟通，维护行业、会员和保险消费者的合法权益。</p>
                <p>（三）协调协会会员间、会员与保险从业人员之间的关系；协调保险中介行业与其他有关行业和社会组织的关系；协调会员与保险消费者、社会公众的关系。</p>
                <p>（四）整合宣传资源，通过组织开展行业性的大型展览、宣传和咨询活动，创办信息刊物，开办网站等形式，宣传保险中介行业知识；开展从业人员教育培训，表彰优秀从业人员，宣传先进事迹和典型经验，树立行业良好形象。</p>
                <p>（五）加强协会会员间、与国内外保险业间、与其他行业间的交流与合作，沟通情况、收集信息、引进技术、推广经验、反映业内动态，为会员单位客户和社会公众服务。</p>
                <p>（六）整合、利用保险中介行业信息数据资源，提升保险中介机构的专业技术能力，发挥中介机构在风险定价、防灾防损、风险顾问、损失评估、理赔服务等方面的积极作用。</p>
                <p>（七）搭建政府与保险中介机构之间的沟通平台，更好地为消费者提供保险增值服务。</p>
                <p>（八）接受保险监管部门或地方政府委托办理的有关事项。</p>

                <center><strong>第三章 会  员</strong></center>
                <br>
                <p>第七条 协会接纳单位会员和个人会员。</p>
                <p>（一）单位会员指保险专业中介机构、保险兼业代理机构、从事与保险相关业务的金融服务机构及保险社团组织；</p>
                <p>（二）个人会员指在江苏省保险业内具有一定影响力的个人。</p>
                <p>第八条 申请加入协会的会员，必须具备下列条件：</p>
                <p>（一）拥护协会章程；</p>
                <p>（二）有加入协会的意愿；</p>
                <p>（三）依法成立并在江苏省范围内经营保险中介业务的保险专业中介机构和保险兼业代理机构；</p>
                <p>（四）经江苏省各级民政部门注册登记的地市级、县市级保险社团组织；</p>
                <p>（五）个人会员应在江苏省保险业内具有一定影响力，未受过监管部门及其他政府机构处罚。</p>
                <p>第九条 会员入会程序：</p>
                <p>（一）提交入会申请书；</p>
                <p>（二）经理事会或常务理事会审议通过并办理入会手续。</p>
                <p>第十条 会员发生下列情况之一者，会员资格终止：</p>
                <p>（一）经保险监管机关批准终止业务的；</p>
                <p>（二）机构合并、分立、撤销或依法宣告破产的；</p>
                <p>（三）被保险监管机关或工商行政管理机关依法取缔的；</p>
                <p>（四）连续1年不缴纳会费或不参加协会活动，经理事会或常务理事会决定予以除名的；</p>
                <p>（五）有严重违反协会章程的行为，经理事会或常务理事会决定予以除名的。</p>
                <p>第十一条 会员有下列权利：</p>
                <p>（一）单位会员有审议权、表决权、选举权和被选举权（荣誉会长、个人会员不享有上述权利）；</p>
                <p>（二）会员有参加协会举办的各项活动，优先获得协会服务的权利；</p>
                <p>（三）会员有权对协会及其工作人员的工作提出意见和建议以及批评和监督；</p>
                <p>（四）会员有权对涉及行业的共性问题提出意见和建议，供行业讨论；</p>
                <p>（五）会员有提出维护其合法权益要求的权利；</p>
                <p>（六）入会自愿，退会自由；</p>
                <p>（七）本章程规定的其他权利。</p>
                <p>第十二条 会员履行下列义务：</p>
                <p>（一）遵守协会的章程、自律公约、行业标准和业务规范，执行协会通过的决议；</p>
                <p>（二）维护协会的合法权益和声誉；</p>
                <p>（三）积极参加协会组织的活动，完成协会交办的工作；</p>
                <p>（四）接受协会的咨询调查，如实反应情况，提供与保险业务相关的所需资料和统计报表；</p>
                <p>（五）按期足额交纳会费；</p>
                <p>（六）本章程规定的其他义务。</p>
                <p>第十三条 会员退会应提前一个月书面通知协会，由协会报业务主管机关备案。会员如果一年不交纳会费或不参加协会活动，视为自动退会。会员退会，不对协会提出其他财产要求。</p>
                <p>第十四条 会员如有严重违反本章程的行为，或有其他重大违法违规行为的，经理事会或常务理事会讨论通过，可视情节轻重给予口头警告、业内通报批评、公开谴责或予以除名，同时，协会保留向江苏省保监局报告、提供相应资料协助调查的权利。</p>

                <center><strong>第四章 组织机构和负责人产生、罢免</strong></center>
                <br>
                <p>第一节 会员大会</p>
                <p>第十五条 协会的最高权力机构为会员大会，其职权是：</p>
                <p>（一）制定和修改章程；</p>
                <p>（二）选举和罢免理事、会长、副会长；</p>
                <p>（三）审议理事会的工作报告和财务报告；</p>
                <p>（四）制定和修改会费的收缴标准；</p>
                <p>（五）决定重大变更和终止事宜；</p>
                <p>（六）决定其他应由会员大会审议的重大事宜。</p>
                <p>第十六条 会员大会每年召开一次。经理事会或三分之二以上会员提议可以召开临时会员大会。会员大会须有三分之二以上会员代表出席方能召开，除章程修改须经到会会员代表三分之二以上表决通过，其他决议须经到会会员代表半数以上表决通过方能生效。</p>
                <p>第十七条 会员大会每届四年。因特殊情况需提前或延期进行换届的，须由理事会表决通过，报业务主管单位审查，并经社团登记管理机关批准同意，但延期换届最长不超过一年。</p>
                <p>第二节 理事会</p>
                <p>第十八条 理事会是会员大会的执行机构，由会员大会选举产生，在会员大会闭会期间，领导协会开展日常工作，对会员大会负责。</p>
                <p>第十九条 理事会的职责是：</p>
                <p>（一）执行会员大会的决议；</p>
                <p>（二）选举和罢免秘书长、常务理事；</p>
                <p>（三）筹备召开会员大会；</p>
                <p>（四）向会员大会报告工作和财务状况；</p>
                <p>（五）决定会员的吸收或除名；</p>
                <p>（六）决定设立办事机构、分支机构和专门委员会的设立；</p>
                <p>（七）领导协会各机构开展工作；</p>
                <p>（八）审议和颁布协会制定的自律规则、行业标准以及业务规范；</p>
                <p>（九）制定内部管理制度；</p>
                <p>（十）决定其他重大事项。</p>
                <p>第二十条 理事会会议须有三分之二以上理事出席方能召开，其决议须经到会理事三分之二以上表决通过方能生效。</p>
                <p>第二十一条 理事会每年至少召开一次，遇有特殊情况，经常务理事会会议或二分之一以上理事提议，可提前或延期召开，也可采用通讯形式召开。</p>
                <p>第二十二条 理事会由理事单位的现任主要负责人组成。</p>
                <p>第三节 常务理事会</p>
                <p>第二十三条 协会设常务理事会。
                    常务理事会由理事会选举产生，在理事会闭会期间行使第十九条第一、三、五、六、七、八、九、十项的职权，对理事会负责。</p>
                <p>第二十四条 常务理事会每半年至少召开一次会议，如遇特殊情况，经会长或二分之一以上常务理事提议，也可以临时召开。
                    常务理事会会议须有三分之二以上常务理事出席方能召开，其决议须经到会常务理事三分之二以上表决通过方能生效。</p>
                <p>第四节 会长、副会长、秘书长</p>
                <p>第二十五条 协会设会长1名、荣誉会长2名（经理事会或常务理事会讨论通过可酌情增加名额），经业务主管部门提名或由理事会推选，通过会员大会选举，经业务主管部门审查同意，报江苏省民政厅核准登记。
                    根据协会工作实际需要，经业务主管部门批准，协会可以设立专职会长。</p>
                <p>第二十六条 协会会长、副会长必须具备下列条件：</p>
                <p>（一）坚持党的路线、方针、政策，政治素质好；</p>
                <p>（二）在行业内或业务领域内有较大影响；</p>
                <p>（三）愿意承担应尽的相关义务；</p>
                <p>（四）最高任职年龄不超过60周岁；</p>
                <p>（五）身体健康，能坚持正常工作；</p>
                <p>（六）未受过剥夺政治权利的刑事处罚；</p>
                <p>（七）具有完全民事行为能力；</p>
                <p>第二十七条 秘书长必须具备下列条件：</p>
                <p>（一）坚持党的路线、方针、政策，政治素质好；</p>
                <p>（二）在行业内或业务领域内有较大影响；</p>
                <p>（三）最高任职年龄不超过60周岁； </p>
                <p>（四）身体健康，能坚持正常工作；</p>
                <p>（五）未受过剥夺政治权利的刑事处罚；</p>
                <p>（六）具有完全民事行为能力；</p>
                <p>第二十八条 会长、副会长、秘书长每届任期四年，任期最长不得连续超过两届，因特殊情况需延长任期的，须经会员大会三分之二以上会员表决通过，报业务主管单位核准并经社团登记管理机关批准同意后方可任职。</p>
                <p>第二十九条 会长为协会法定代表人。本协会的法定代表人不兼任其他团体的法定代表人。</p>
                <p>第三十条 会长行使下列职权：</p>
                <p>（一）召集和主持常务理事会、理事会和会员大会；</p>
                <p>（二）检查会员大会、理事会、常务理事会决议的落实情况；</p>
                <p>（三）向会员大会报告协会工作；</p>
                <p>（四）代表协会签署有关重要文件；</p>
                <p>（五）出席重要仪式；</p>
                <p>（六）其他应由会长履行的职责。</p>
                <p>第三十一条 协会设立秘书处作为协会的办事机构，设专职工作人员若干，承办日常事务性工作，实行职业化、专业化。</p>
                <p>第三十二条 秘书长为常设专职职位，协助会长开展工作，对会长负责。秘书长每届任期四年。对秘书长的聘用、解聘和日常工作考核及相关问题的审核权属理事会。</p>
                <p>第三十三条 秘书长的主要职责：</p>
                <p>（一）主持秘书处开展日常工作，组织落实年度工作计划；</p>
                <p>（二）组织落实理事会、常务理事会决定、决议；</p>
                <p>（三）提名副秘书长、秘书处内设机构负责人交理事会或常务理事会决定；</p>
                <p>（四）决定办事机构其他专职工作人员的聘用、管理；</p>
                <p>（五）签发协会日常文件；</p>
                <p>（六）处理其它日常事务。</p>

                <center><strong>第五章 资产管理和使用原则</strong></center>
                <br>
                <p>第三十四条 协会经费来源：</p>
                <p>（一）会费；</p>
                <p>（二）捐赠；</p>
                <p>（三）资助；</p>
                <p>（四）在核准的业务范围内开展活动或服务的收入；</p>
                <p>（五）利息；</p>
                <p>（六）其他合法收入。</p>
                <p>第三十五条 协会按照国家有关规定和会员大会通过的会费收取办法收取会员会费。</p>
                <p>第三十六条 协会经费必须用于协会章程规定的业务范围和事业的发展，不得在会员中分配。</p>
                <p>第三十七条 协会执行《民间非营利组织会计制度》并建立严格的财务管理制度，保证会计资料合法、合规、真实、准确、完整。</p>
                <p>第三十八条 协会建立经费管理和审批制度，每年应向会员公布年内会费收支情况，接受会员大会、业务主管部门和财政部门的监督。</p>
                <p>第三十九条 协会配备具有专业资格的会计人员。会计不得兼任出纳。会计人员必须进行会计核算，实行会计监督。会计人员调动工作或离职时，必须与接管人员办清交接手续。</p>
                <p>第四十条 协会的资产管理必须执行国家规定的财务管理制度，接受会员大会、业务主管部门和财政部门的监督。资产来源属于社会捐赠、资助的必须接受审计机关的监督，并将有关情况以适当方式向会员公布，必要时向社会公布。</p>
                <p>第四十一条 协会换届或更换法定代表人之前，必须接受业务主管部门和社团登记管理机关组织的财务审计。</p>
                <p>第四十二条 协会的资产，任何单位、个人不得侵占、私分和挪用。</p>
                <p>第四十三条 协会举办较大型活动，临时需要筹集经费，须经理事会批准。</p>
                <p>第四十四条 协会专职工作人员的工资和保险、福利待遇，参照南京市事业单位平均工资待遇平均水平，结合国家有关规定和协会实际情况执行。</p>

                <center><strong>第六章 章程的修改程序</strong></center>
                <br>
                <p>第四十五条 协会章程的修改，须经理事会表决通过后报会员大会审议。</p>
                <p>第四十六条 协会修改的章程，须在会员大会通过后15日内，经业务主管单位审查同意，并报社团登记管理机关核准后生效。</p>

                <center><strong>第七章 终止程序及终止后的财产处理</strong></center>
                <br>
                <p>第四十七条 协会完成宗旨、自行解散或由于分立、合并等原因需要注销的，由理事会或常务理事会提出终止动议。</p>
                <p>第四十八条 协会终止动议须经会员大会表决通过，并报业务主管单位审查同意。</p>
                <p>第四十九条 协会终止前，须在业务主管单位及有关机关指导下成立清算组织，清理债权债务，处理善后事宜。清算期间，不开展清算以外的活动。</p>
                <p>第五十条 协会经社团登记管理机关办理注销登记手续后即为终止。</p>
                <p>第五十一条 协会终止后的剩余财产，在业务主管单位和社团登记管理机关的监督下，按照国家有关规定，用于发展与协会宗旨相关的事业。</p>

                <center><strong>第八章 附  则</strong></center>
                <br>
                <p>第五十二条 本章程经2014年10月24日会员大会表决通过。</p>
                <p>第五十三条 本章程的解释权属协会理事会。</p>
                <p>第五十四条 本章程自社团登记管理机关核准之日起生效。</p>
            </div>
            <!--the-end-->
        </div>
    </div>
</div>


