<div class="intro-subbody">
    <div class=" intro-subbody-nav">
        <ul class="nav nav-pills nav-stacked nav-style">
            <li><img class="intro-nav-pic img-responsive" src="../images/nav-pic/intro-nav.jpg"/></li>
            <li class="intro-nav-li" id="intro-nav1" role="presentation"><a class="intro-nav-font" href="/intro">协会简介</a></li>
            <li class="intro-nav-li" id="intro-nav2" role="presentation"><a class="intro-nav-font" href="/intro/intro-gchapter">协会章程</a></li>
            <li class="intro-nav-li" id="intro-nav4" role="presentation"><a class="intro-nav-font" href="/intro/intro-organization">组织架构</a></li>
            <li class="intro-nav-li" id="intro-nav3" role="presentation"><a class="intro-nav-font" href="/intro/intro-members">专业委员会</a></li>
            <li class="intro-nav-li" id="intro-nav5" role="presentation"><a class="intro-nav-font" href="/intro/intro-contact">联系我们  </a></li>
        </ul>
        <img  class="intro-subbody-icon" src="../../images/subbody-icon/intro.png" >
    </div>
    <div class="intro-subbody-content">
        <div class="panel panel-border panel-primary">
            <div class="intro-rightbody-heading ">
                <ol class="breadcrumb breadcrumb-style">
                    <li><a href="/intro">关于协会</a></li>
                    <li><a href="/intro">协会简介</a></li>
                </ol>
            </div>
            <div class="panel-body">
                <img class="intro-panel-pic img-responsive" src="../images/intro-img/intro-panel.jpg"/>
                <p class=" intro-panel-p"><strong>
                        江苏省保险中介行业协会（以下简称协会），英文全称为Jiangsu Insurance Intermediary Association（英文缩写JSIIA）成立于2014年11月18日，是经中国保险监督管理委员会江苏监管局批准，在江苏省民政厅登记注册的社团法人。
                        协会是依照《社会团体登记管理条例》和有关金融保险法规的规定，以在江苏省、市依法登记注册的商业性保险专业中介机构、保险兼业代理机构（包括有相互代理关系的保险公司）、从事与保险相关业务的金融服务机构及在江苏省保险业内具有一定影响力的个人，自愿结成的江苏省保险中介行业的自律组织，属非营利性社会组织。
                        协会以服务为中心，以自律、维权、协调、交流、宣传为基本职能。依照国家宪法和法律、法规及监管政策加强行业自律，维护公平竞争的市场秩序，维护保险中介行业利益；加强行业宣传，树立行业正面形象，担当保险中介机构与政府沟通的桥梁和纽带，推进保险中介同业间以及保险中介行业与保险公司之间的交流、协作，促进江苏省保险中介行业持续、快速、协调、健康发展。
                       </strong>
                </p>
            </div>
        </div>
    </div>
</div>