<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">专委会规章</h3>
        </div>
        <div class="panel-body">
            <form id="defaultform" role="form" method="post" enctype="application/json" action="/admin/admin-selfdiscipline/<%= chadiscipline._id %>/chapupdate">
                <div class="form-group">
                    <label>专委会规章名</label>
                    <input class="form-control" placeholder="请输入专委会规章名" type="text" name="chaptitle"
                           value=<%= chadiscipline.chaptitle %>>
                </div>

                <div class="form-group">
                    <label>专委会规章内容</label>

                    <textarea id="container"  class="admin-modal-container" name="chapbio"
                              type="text/plain"> <%- chadiscipline.chapbio %></textarea>
                </div>
                <input type="submit" class="btn  btn-primary" value="修改">
            </form>
        </div>
        <!--<script type="text/javascript" src="../public/javascripts/update.js">-->
        <script type="text/javascript">
            var ue = UE.getEditor('container');
        </script>
    </div>
</div>

