<head>
    <title>会员管理控制台--上传文件</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/members/members.css"/>
    <link rel="stylesheet" href="/stylesheets/members/members-manager.css"/>
    <link rel="stylesheet" href="/stylesheets/members/members-update.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="/javascripts/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/javascripts/webjs/members/members-update.js"></script>
</head>

<body class="body">
<div class="members-header"><%- include('../../home/headercontent/public-header-nav') %></div>
<div class="members-wrapper">
    <div class="members-sider">
        <%- include('../../home/members-manager/members-manager-left/members-siderbar') %>
    </div>
    <div class="members-body"><%- include('../../home/members-manager/members-manager-right/members-right-update') %></div>
</div>
</body>
</html>