<head>
    <title>会员管理控制台--紧急通知</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/members/members.css"/>
    <link rel="stylesheet" href="/stylesheets/members/members-manager.css"/>
    <link rel="stylesheet" href="/stylesheets/members/members-emergency.css"/>
</head>

<body class="body">
<div class="members-header"><%- include('../../home/headercontent/members-header-nav') %></div>
<div class="members-wrapper">
    <div class="members-sider">
        <%- include('../../home/members-manager/members-manager-left/members-siderbar') %>
    </div>
    <div class="members-body"><%- include('../../home/members-manager/members-manager-right/members-right-emergency') %></div>
</div>
</body>
</html>