<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">热点关注</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-focus/admin-focus-fcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>热点关注查看</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-focus/admin-focus-filecont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>热点关注图片</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-focus/admin-focus-focus">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>热点关注添加</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-focus/admin-focus-files">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>热点关注图片添加</h6>
                </div>
            </a>
        </div>
    </div>
</div>
