<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">自律规范</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-selfdiscipline/admin-selfdiscipline-procont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>倡议书</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-selfdiscipline/admin-selfdiscipline-riskcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>风险提示函</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-selfdiscipline/admin-selfdiscipline-chapcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>专委会规章</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-selfdiscipline/admin-selfdiscipline-proposal">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加倡议书</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-selfdiscipline/admin-selfdiscipline-risk">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加风险提示函</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-selfdiscipline/admin-selfdiscipline-chapter">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加专委会规章</h6>
                </div>
            </a>
        </div>
    </div>
</div>
