<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">会员管理</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-memcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>查看会员</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-notcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>紧急通知</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-duescont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>会员会费</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-upcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>会员上传的文件</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-download">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>会员下载的文件</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-notice">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加通知</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-members">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加会员</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-notice">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加通知</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-dues">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加会费</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-download">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>会员下载的文件</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-notice">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加通知</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-2 col-sm-2 col-xs-2 btn size btn-info" href="/admin/admin-members/admin-members-notice">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>添加通知</h6>
                </div>
            </a>
        </div>
    </div>
</div>
