<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">欢迎来到管理控制台</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-notice">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>通知公告</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-pagesetting">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>页面设置</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-intro">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>协会简介</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>资格申办</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>资格申办</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>资格申办</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>资格申办</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>资格申办</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>资格申办</h6>
                </div>
            </a>
        </div>
    </div>
</div>
