<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">通知公告</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-notice/admin-notice-monicont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>保监发内容</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-notice/admin-notice-associcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>协会发内容</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-notice/admin-notice-monitor">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>保监发</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-notice/admin-notice-association">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>协会发</h6>
                </div>
            </a>
        </div>
    </div>
</div>
