<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">法律法规</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-dynamics/admin-dynamics-monicont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>监管动态编辑</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-dynamics/admin-dynamics-associcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>协会动态编辑</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-dynamics/admin-dynamics-memcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>会员动态编辑</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-dynamics/admin-dynamics-monitor">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>监管动态</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-dynamics/admin-dynamics-association">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>协会动态</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-4 col-sm-4 col-xs-4 btn size btn-info" href="/admin/admin-dynamics/admin-dynamics-member">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>会员动态</h6>
                </div>
            </a>

        </div>
    </div>
</div>
