
<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">关于协会</h3>
        </div>
        <div class="panel-body admin-background-pic">
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-intro/admin-intro-memcont">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>专业委员会名单</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="#">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>开发中...</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="/admin/admin-intro/admin-intro-members">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>专业委员会名单添加</h6>
                </div>
            </a>
            <a type="buttom" class=" col-md-6 col-sm-6 col-xs-6 btn size btn-info" href="#">
                <div  align="center">
                    <span class="glyphicon size glyphicon-book"/><h6>开发中...</h6>
                </div>
            </a>
        </div>
    </div>
</div>
