body.intro-body {
    min-width: 960px;
}

.navbar-header {
    width: auto;
    height: 80px;
    position: relative;
    z-index: 20;
}

a.navbar-brand.position {
    padding: 0;
    padding-left: 50px;
}
/*------------intro-header-------*/
.intro-header{
    margin-bottom: 45px;
}

/*------------intro-nav----------*/

nav.navbar.navbar-background {
    background-color: #337ab7;
    font-family: "Microsoft YaHei" ! important;
    font-size: 18px;
    width: auto;
    height: 44px;
    position: relative;
    z-index: 20;
    overflow: visible;
    border-bottom: 5px solid #0163b8;
    border-top: 1px solid #0163b8;
}

.navbar-header.intro-nav {
    height: 50px;
}

a.dropdown-toggle.style{
    height: 50px;
    display: block;
    color: #fff;
}

a.active-style {
    height: 50px;
    display: block;
    color: #fff;
}

ul.nav.position {
    clear: both;
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar .nav > li > a:hover {
    color:blue;
    background-color: lightblue;
}

/*-----------intro-subbody-------*/
.intro-subbody-icon{
    margin-top: 100px;
    margin-left:48px;
    opacity: 0.3;
}

.intro-subbody {
    background-color:#f8f8f8;
    height:975px;
}

.intro-subbody-nav{
    float:left;
    width:30%;
    padding-left:180px;
    position: inherit;
}



ul.nav.nav-pills.nav-stacked.nav-style {
    font-size: 18px;
    text-align: center;
}

.nav > li > a.intro-nav-font{
    color:black;
    font-family: "Microsoft YaHei" ;
}

.nav > li.intro-nav-li{
    border: 1px solid #cdc9c9;
    -webkit-box-shadow:0 0 10px 1px #ccc;
    -moz-box-shadow:0 0 10px 1px #ccc;
    box-shadow:0 0 10px 1px #ccc;
}

.nav > li > img.intro-nav-pic{
    border: 1px solid #cdc9c9;
    -webkit-box-shadow:0 0 10px 1px #ccc;
    -moz-box-shadow:0 0 10px 1px #ccc;
    box-shadow:0 0 10px 1px #ccc;
}

.intro-subbody-content{
    float: left;
    width:70%;
    height:800px;
    padding-left: 5px;
    padding-right:180px;
}

.panel.panel-border.panel-primary {
    border: 1px solid #cdc9c9;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
}

img.intro-panel-pic{
    padding: 60px;
}
p.intro-panel-p{
    line-height: 3;
    padding: 0px 70px;
    text-align: justify;
    text-align-last: justify;
    height: 422px;
}

.breadcrumb.breadcrumb-style {
    font-family: microsoft yahei;
    background: #428bca;
    padding-left: 60px;
}

/*------------footer--------------*/

.public-footer {
    background: url(../../images/footer/footer-background.jpg) no-repeat;
    background-size: 100% 92%;
}

.public-footer-fonter{
    font-family:"Microsoft YaHei"
}
img.footerlogo.img-responsive {
    padding-top: 30px;
    margin-left: -50px;
}

.row.public-row {
    margin: 20px;
}

img.footerqr {
    margin: 3px;
    width: 85%;
}

img.public-footer-linklogo {
    margin-top: 7px;

}
img.public-footer-linkmember{
    overflow: hidden;
    width:100px;
    height:33px;
    margin-top:3px;
}